<section class="relative z-10 container flex flex-col mx-auto" th:fragment="content">
    <div class="flex flex-col py-6 text-center w-full">
        <h2 class="sm:text-5xl text-xl font-medium title-font text-white">Dashboard</h2>
    </div>
    <div class="pb-8 self-center justify-self-center">
        <a href="/create-project">
            <button class="bg-[#9eff00] text-black font-bold py-2 px-8 rounded">
                Create New Project
            </button>
        </a>
    </div>
    <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3 text-white" th:each="project: ${projects}">
            <div class="h-60 bg-[#262626] border-2 border-white rounded-lg overflow-hidden transition duration-500 ease-in-out hover:border-[#9eff00]">
                <div class="p-6">
                    <div class="w-full flex justify-between">
                        <h1 class="title-font text-lg font-medium text-white mb-2"
                            th:text="${project.getName() != '' ? project.getName() : 'Untitled'}"></h1>
                        <a th:href="'/projects/' + ${project.getId()}">
                            <i class="mt-1 fa-solid fa-gear transition duration-500 ease-in-out hover:text-[#9eff00]"></i>
                        </a>
                    </div>
                    <div class="flex items-center h-40 justify-between flex-wrap">
                        <a class="block w-full text-green-500 leading-relaxed mb-2" target="_blank"
                           th:href="${project.getDatasetUrl()}"> Download Dataset </a>
                        <p class="grow block w-full leading-relaxed mb-px"
                           th:text="${#strings.length(project.getDescription()) > 90 ? #strings.substring(project.getDescription(), 0, 90) + '...' : project.getDescription()}"></p>
                        <div class="w-full py-4 flex justify-between">
                            <a class="text-orange-400 inline-flex items-center md:mb-2 lg:mb-0"
                               th:href="'/preview/' + ${project.getId()}">
                                Preview
                                <i class="ml-1 fa-light fa-table"></i>
                            </a>
                            <a class="text-indigo-400 inline-flex items-center md:mb-2 lg:mb-0"
                               th:href="'/visualize/' + ${project.getId()}">
                                Visualize
                                <i class="ml-1 fa-light fa-display-chart-up-circle-currency"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
