<section th:fragment="content">
    <section class="relative z-10 flex flex-col justify-center h-[90vh]">
        <p class="text-5xl text-center text-white">
            A Digital Product That Will <br>
            <span class="text-[#9eff00]">Ease</span> Your Work
        </p>
        <div class="flex justify-center flex-row items-center space-x-6 mt-10">
            <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                    onclick="location.href='https://www.dropbox.com';">
                Dropbox
            </button>
            <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                    onclick="location.href='https://aws.amazon.com/s3/';">
                Amazon S3
            </button>
            <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                    onclick="location.href='https://onedrive.live.com/';">
                One Drive
            </button>
            <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                    onclick="location.href='https://drive.google.com/';">
                Google Drive
            </button>
            <button class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
                    onclick="location.href='https://azure.microsoft.com/en-us/services/storage/';">
                Azure Storage
            </button>
        </div>
        <div class="flex justify-center mt-10">
            <a href="/dashboard">
                <button class="bg-[#9eff00] text-black font-bold py-2 px-8 rounded">
                    Explore
                </button>
            </a>
        </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-7 mx-auto">
            <div class="bg-[url('/static/img/why_choose_easyml.svg')] bg-no-repeat bg-center bg-cover justify-center h-[20vh]">
                <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-white mb-20 mt-20"><br>
                    Why Choose <br> EasyML?
                </h1>
            </div>
            <div class="container mx-auto flex flex-wrap mt-5 justify-center">
                <div class="flex flex-wrap -m-4">
                    <div class="p-4 lg:w-1/2 md:w-full">
                        <div class="flex p-8 sm:flex-row flex-col">
                            <i class="fa-solid fa-user-graduate fa-3x text-[#9eff00]"></i>
                            <div class="flex-grow ml-5">
                                <h2 class="text-white text-lg title-font font-medium mb-3">
                                    Expertise
                                </h2>
                                <p class="text-white leading-relaxed text-base">
                                    Automating ML & DS tasks with expert-level efficiency.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2 md:w-full">
                        <div class="flex p-8 sm:flex-row flex-col">
                            <i class="fa-solid fa-user-tie fa-3x" style="color: #9eff00;"></i>
                            <div class="flex-grow ml-7">
                                <h2 class="text-white text-lg title-font font-medium mb-3">
                                    Client-Centric Approach
                                </h2>
                                <p class="text-white leading-relaxed text-base">
                                    Tailored ML solutions focused on your success.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mx-auto flex flex-wrap justify-center">
                <div class="flex flex-wrap -m-4">
                    <div class="p-4 lg:w-1/2 md:w-full">
                        <div class="flex p-8 sm:flex-row flex-col">
                            <i class="fa-solid fa-square-poll-vertical fa-3x" style="color: #9eff00;"></i>
                            <div class="flex-grow ml-5">
                                <h2 class="text-white text-lg title-font font-medium mb-3">
                                    Results-Driven Solutions</h2>
                                <p class="text-white leading-relaxed text-base">
                                    Delivering impactful ML outcomes you can trust.</p>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 lg:w-1/2 md:w-full">
                        <div class="flex p-8 sm:flex-row flex-col">
                            <i class="fa-solid fa-handshake fa-3x" style="color: #9eff00;"></i>
                            <div class="flex-grow ml-3">
                                <h2 class="text-white text-lg title-font font-medium mb-3">
                                    Collaborative Partnership
                                </h2>
                                <p class="text-white leading-relaxed text-base">
                                    Your trusted partner in achieving ML goals together.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="relative">
        <div class="container px-5 py-24 mx-auto">
            <div
                    class="bg-[url('/static/img/thank_you_for_interest.png')] bg-no-repeat bg-center bg-cover flex items-center justify-center h-[35vh]">
                <div class="text-center text-white">
                    <h1 class="sm:text-3xl text-2xl font-medium title-font mb-8">
                        Thank You for your interest<br> in EasyML
                    </h1>
                    <a href="/dashboard">
                        <button class="bg-[#9eff00] text-black font-bold py-2 px-8 rounded">
                            Start Project
                        </button>
                    </a>
                </div>
            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto mt-10">
                <form action="/enquiry" method="post" class="flex flex-wrap -m-2" th:object="${EnquiryRequest}">
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label class="leading-7 text-sm text-white" for="name">Name</label>
                            <input class="w-full bg-[#262626] bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                   id="name" name="name"
                                   type="text">
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label class="leading-7 text-sm text-white" for="email">Email</label>
                            <input class="w-full bg-[#262626] bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-white py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                   id="email" name="email"
                                   type="email">
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label class="leading-7 text-sm text-white" for="message">Message</label>
                            <textarea
                                    class="text-white w-full bg-[#262626] bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    id="message" name="enquiryText"></textarea>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <button class="flex mx-auto text-black bg-[#9eff00] font-bold border-0 py-2 px-8 focus:outline-none rounded text-lg">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>
