<section class="relative z-10" th:fragment="content">
    <div class="flex flex-col py-6 text-center w-full">
        <h2 class="sm:text-5xl text-xl font-medium title-font text-white">Data Preprocessing</h2>
    </div>
    <div class="bg-transparent text-black mx-20 mb-5">
        <div class="container mx-auto flex justify-between ">
            <a th:href="${prev}">
                <button class="bg-[#9eff00] focus:outline-none font-bold px-6 py-2 border border-gray-800 rounded-full">
                    Prev
                </button>
            </a>
            <a th:href="${next}">
                <button class="bg-[#9eff00] focus:outline-none font-bold px-6 py-2 border border-gray-800 rounded-full">
                    Skip
                </button>
            </a>
        </div>
    </div>
    <div class="container flex flex-wrap -m-4 px-5 p-4 mx-auto text-white text-justify">
        <div class="flex flex-wrap justify-center -m-4">
            <div class="p-4 lg:w-1/2 md:w-full">
                <div class="flex p-4 sm:flex-row flex-col">
                    <div class="grow">
                        <div class="flex flex-row">
                            <i class="fa-solid fa-arrows-rotate fa-2x text-[#9eff00] mb-4 mr-4"></i>
                            <h2 class="text-white font-bold title-font text-2xl mb-3">Impute Missing Data</h2>
                        </div>
                        <p class="leading-relaxed text-base">When your data has missing values, imputation fills them
                            in. You can use various strategies to predict the missing value based on other data points.
                        </p>
                        <a th:href="'/preprocess/' + ${projectId} + '/impute'">
                            <button class="px-20 text-black font-medium focus:outline-none bg-[#9eff00] mt-2 py-2 px-4 rounded-md">
                                Proceed
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 lg:w-1/2 md:w-full">
                <div class="flex p-4 sm:flex-row flex-col">
                    <div class="grow">
                        <div class="flex flex-row">
                            <i class="fa-solid fa-trash fa-2x text-[#9eff00] mb-4 mr-4"></i>
                            <h2 class="text-white font-bold title-font text-2xl mb-3">Delete Missing Data</h2>
                        </div>
                        <p class="leading-relaxed text-base">If you have missing data points, you can just remove them
                            entirely from your dataset. This is appropriate if the missing data is minimal and won't
                            significantly impact your analysis.
                        </p>
                        <a th:href="'/preprocess/' + ${projectId} + '/delete'">
                            <button class="px-20 text-black font-medium focus:outline-none bg-[#9eff00] mt-2 py-2 px-4 rounded-md">
                                Proceed
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 lg:w-1/2 md:w-full">
                <div class="flex p-4 sm:flex-row flex-col">
                    <div class="grow">
                        <div class="flex flex-row">
                            <i class="fa-solid fa-shuffle fa-2x text-[#9eff00] mb-4 mr-4"></i>
                            <h2 class="text-white font-bold title-font text-2xl mb-3">Data Encoding</h2>
                        </div>
                        <p class="leading-relaxed text-base">Categorical data can't be directly used by ML models.
                            Encoding converts these categories into numerical values the models can understand.
                        </p>
                        <a th:href="'/preprocess/' + ${projectId} + '/encode'">
                            <button class="px-20 text-black font-medium focus:outline-none bg-[#9eff00] mt-2 py-2 px-4 rounded-md">
                                Proceed
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-4 lg:w-1/2 md:w-full">
                <div class="flex p-4 sm:flex-row flex-col">
                    <div class="grow">
                        <div class="flex flex-row">
                            <i class="far fa-compress-arrows-alt fa-2x text-[#9eff00] mb-4 mr-4"></i>
                            <h2 class="text-white font-bold title-font text-2xl mb-3">Feature Scaling</h2>
                        </div>
                        <p class="leading-relaxed text-base">ML algorithms can be sensitive to the scale of your data.
                            Feature scaling transforms your features to a common range. This ensures all features
                            contribute equally to the model.
                        </p>
                        <a th:href="'/preprocess/' + ${projectId} + '/scale'">
                            <button class="px-20 text-black font-medium focus:outline-none bg-[#9eff00] mt-2 py-2 px-4 rounded-md">
                                Proceed
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
