<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dataset Preview</title>
    <th:block th:insert="~{base :: scripts}"></th:block>
</head>
<body>
<main>
    <section>
        <p> No. of rows: <strong th:text="${dims[0]}"></strong></p>
        <p> No. of columns: <strong th:text="${dims[1]}"></strong></p>
        <p>CSV Preview </p>
        <div class="rounded-t-xl overflow-hidden bg-gradient-to-r from-emerald-50 to-teal-100 p-10">
            <table class="table-auto">
                <thead>
                <tr>
                    <th class="px-4 py-2 text-emerald-600" th:each="col: ${columns}">
                        <th:block th:text="${col}"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border border-emerald-500 px-4 py-2 text-emerald-600 font-medium" th:each="row: ${rows}">
                    <td th:each="val: ${row}">
                        <th:block th:text="${val}"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

</body>
</html>